{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "off"
  }
}