.welcome {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0;
  color: white;
  text-align: center;
  padding-top: px(200);

  h1 {
    font-size: 80px;
  }
}