.desc {
  font-size: px(24);
  margin-top: px(50);
  margin-right: px(100);
  color: white;
  width: auto;
  float: left;
  white-space: pre-wrap;
  line-height: 1.5;
  margin-left: px(50);

  div {
    margin-top: px(20);
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;                        

    p {
      white-space: pre-wrap;
      width: px(300);
      line-height: 2;
    }
    
  }
  .QRCode {
    // display: flex;
    // justify-content: space-between; 
    // align-items: baseline;  
    display: inline-block;
    border-radius: 50%;
    width: px(100);
    height: px(100);
    margin-left: px(120);

    img {
      width: 100%;
      height: 100%;
    }
  }
 
}