.nav {
  width: 20%;
  min-height: 100vh;
  height: auto;
  background-color: rgba($color: #494949, $alpha: 0.8);
  font-size: px(26);
  color: white;
  float: left;
  z-index: 99;

  span {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
      color: #EDE06B;
    }
  }


  .menu {
    text-align: right;
    list-style-type: none;
    margin-right: px(40);
    float: right;
    margin-top: px(200);
    font-weight: bolder;
    line-height: 2;

    .links {
      // margin: px(10) 0;
      .spanNor {
        display: block;
        font-size: px(16);
        font-weight: normal;
        line-height: 1.6;
      }
      .spanActive {
        display: block;
        font-size: px(16);
        font-weight: normal;
        line-height: 1.6;
        color: #EDE06B;
      }
    } 
  }
}