.nav {
  width: 20%;
  height: 100vh;
  background-color: rgba($color: #494949, $alpha: 0.95);
  font-size: 20px;
  color: white;
  float: left;
  z-index: 99;

  span {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
      color: #EDE06B;
    }
  }


  .menu {
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
    margin-top: 250px;
    font-weight: bolder;
    line-height: 2;

    .links {
      // margin: 10px 0;
      span {
        display: block;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.6;
      }
    } 
  }
}